<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="personagens.app" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Personagens" android:icon="@drawable/ic_launcher" android:largeHeap="true"></application>
</manifest>